{% extends 'base.html' %}
{% block title %}{% if view.object %}Edit Product{% else %}Add New Product{% endif %}{% endblock %}
{% block content %}
<div class="container">
  {% if view.object %}
    <h1>Edit {{ view.object }}</h1>
  {% else %}
    <h1>Add New Product</h1>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <a href="{% url 'product_list' %}" class="back-link">Back</a>
</div>
{% endblock %}
